*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "M PLUS Rounded 1c", sans-serif;

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%; }

.navmenu{
    display: flex;
}       
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #EE1C47;
}

.nav_icon{
    display : flex;
    align-items: center;
}
.nav_icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;

}

.nav_icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}

#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
#menu-icon:hover{
    transform: scale(1.1);
    color: #EE1C47;   
}
.container{
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  display:inline-flex;
  padding: 40px 8%;
  margin-top: 50px;
 }
  
  

.container.wrapper{
  width: 100%;
  float: left;
  position:relative;
  }
  
.wrapper .sidebar{
    width: 220px;
    height: 100%;
    background: white;
    
}
 .wrapper .sidebar ul li{
    padding: 8px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.120);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-left: 1px solid rgba(0,0,0,0.120);
    border-right: 1px solid rgba(0, 0, 0, 0.120);
  }    
  
  .wrapper .sidebar ul li a{
    color: #2c2c2c;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 20px;
  }

  .wrapper .sidebar ul li:hover{
    background-color: #2c2c2c;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }  
 .boster{
    float: right;
  position:relative;
  padding-left: 25px;
  
     
  }
  .container2{
    align-items: center;
  overflow: hidden;
    display:inline-flex;
  padding: 40px 8%;
  width: 100%;
  }
  .container2 img{
    object-fit:contain;
    min-width: 100%;
    min-height: 100%
  }
  .container3{
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    display:inline-flex;
    padding: 40px 8%;
    margin-top: 50px;
   }
    
    
  
  .container3.wrapper2{
    width: 100%;
    float: left;
    position:relative;
    }
    
  .wrapper2 .sidebar2{
      width: 220px;
      height: 100%;
      background: white;
      border: 1px solid rgba(0, 0, 0, 0.120);
  }
   .wrapper2 .sidebar2 ul li{
      padding: 6px;
     
    }    
    
    .wrapper2 .sidebar2 ul li a{
      color: #2c2c2c;
      display: block;
    }
    
  .container4{
    align-items: center;
  overflow: hidden;
    display:inline-flex;
  padding: 40px 8%;
  width: 100%;
  }
  .container4 img{
    object-fit:contain;
    min-width: 100%;
    min-height: 100%
  }